/*основной цвет текста #757575*/
/* вторичный цвет текста #212121*/
/* цвет при наведении #2196F3*/
/* в футере rgba(255, 255, 255, 0.6);*/
/* акцент #2196F3*/

/*  */
body {
  background: #e5e5e5;
  color: #757575;
}
ul {
  list-style: none;
}
